<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>
<img src="../../static/images/Capture.PNG"
     th:src="@{/images/Capture.PNG}"/>
     
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                </div>
                <div class ="row text-center">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                        <a class="dropdown-toggle" href="#"  data-toggle="dropdown" role="button" >Unit Info<b class="caret"></b></a>
    					<ul class="dropdown-menu">
        					<li><a href="#">Unit Details</a></li>
        					<li><a href="#">Rules</a></li>
    					</ul>
    					</li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" href="#"  data-toggle="dropdown">Recruitment<b class="caret"></b></a>
    						<ul class="dropdown-menu">
        					<li><a href="#">Recruitment Info</a></li>
        					<li><a href="#">Registration</a></li>
    					</ul>
    					</li>
    					<li th:each="cat : ${headerCats}" class="dropdown">
                        	<a class="dropdown-toggle" href="#"  data-toggle="dropdown"><span th:text="${cat.categoryName}"></span><b class="caret"></b></a>
    						<ul class="dropdown-menu">
        						<li th:if="${cat.page!=null}" th:each="page : ${cat.page}"><a th:href="@{|/page/${cat.categoryName}/${page.pageName}/|}" th:text="${page.pageName}"></a></li>
    						</ul>
    					</li>
                    </ul>
                </div>
          
            </div>
        </nav> 
    </div>
</div>
</body>
</html>