body {
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    
    
}
input{
	color: black;
	
}
.homeImg{
	width: 20%;
	length: 20%;
}
.table>tbody>tr:nth-child(odd)>td, 
.table>tbody>tr:nth-child(odd)>th {
   background-color: #d50;
 }
 
.table>tbody>tr:nth-child(even)>td, 
.table>tbody>tr:nth-child(even)>th {
   background-color: #002;
 }



.container {
	
  background-color: rgba(16,16,32,.8);
  padding: 0 90px;
}


.headerImg{
	
	margin-left: auto;
    margin-right: auto;
    max-width: 988px;
	
}



.navbar-inverse {
  background-color: rgb(16,16,40);
  border-color: #ff3300;
}
.navbar-inverse .navbar-brand {
  color: #ecf0f1;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #d9d8d7;
}
.navbar-inverse .navbar-text {
  color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #d9d8d7;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: #000033;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d9d8d7;
  background-color: #ff3300;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000033;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #d9d8d7;
  background-color: #ff3300;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #d9d8d7;
  background-color: #ff3300;
}
.navbar-inverse .navbar-toggle {
  border-color: #ff3300;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #ff3300;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ecf0f1;
}
.navbar-inverse .navbar-link {
  color: #ecf0f1;
}
.navbar-inverse .navbar-link:hover {
  color: #d9d8d7;
}

@media () {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d9d8d7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d9d8d7;
    background-color: #ff3300;
  }
}