body {
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #eeeeaa;
}
h1{
	color: #AD6C07
}

h2{
	color: #AD6C07
}
input{
	color: black;
	
}
.footer{
	color: #eeeeaa;
	text-align:center;
	border-style:solid;
	border-width:5px;
	border-color:#AD6C07;
	background-color: #000033;
}

.homeImg{
	width: 20%;
	length: 20%;
}
.table>tbody>tr:nth-child(odd)>td, 
.table>tbody>tr:nth-child(odd)>th {
   background-color: #AD6C07;
   color: #eeeeaa;
 }
 .table>tbody>tr>td a:link{
 	color: #eeeeaa
 }
.table>tbody>tr:nth-child(even)>td, 
.table>tbody>tr:nth-child(even)>th {
   background-color: rgb(16,16,40);
 }



.container {
  dmax-height: auto;
  background-color: rgba(16,16,32,.8);
  padding: 0 20px;

  
}


.headerImg{
	
	margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 100%;
    height: auto;
	
}

.nav navbar-nav navbar-right{
	padding: 10;
	color: red;
}

.navbar-inverse {
  background-color: rgb(16,16,40);
  border-width: 10px;
  border-style:double;
  border-color: #AD6C07;
}
.navbar-inverse .navbar-brand {
  color: #eeeeaa;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #eeeeaa;
}
.navbar-inverse .navbar-text {
  color: #eeeeaa;
}
.navbar-inverse .navbar-nav > li > a {
  color: #eeeeaa;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #eeeeaa;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: rgb(16,16,40);
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #eeeeaa;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #eeeeaa;
  background-color: #AD6C07;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000033;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #eeeeaa;
  background-color: #AD6C07;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #eeeeaa;
  background-color: #AD6C07;
}
.navbar-inverse .navbar-toggle {
  border-color: #AD6C07;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #AD6C07;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #eeeeaa;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #eeeeaa;
}
.navbar-inverse .navbar-link {
  color: #eeeeaa;
}
.navbar-inverse .navbar-link:hover {
  color: #eeeeaa;
}

@media () {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeaa;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeaa;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eeeeaa;
    background-color: #AD6C07;
  }
.calendar {
		position: relative;
		right: 0px;
		max-width: 80%;
		margin: 0;
}
