<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
	

</head>
<body>
<!--  <div th:replace="fragments/header :: header">...</div> -->
<div class="container">
    <div th:if="${not #lists.isEmpty(categories)}">
        <h2>Categories</h2>
        <form action="#" th:action="@{/categories}" th:object="${categoryForm}" method="post">
        <fieldset>
        	<legend>Category List</legend>
	        <table class="table table-striped">
	            <tr>
	            	<th></th>
	                <th>Category ID</th>
	                <th>Parent Category</th>
	                <th>Category Name</th>
	                <th>Description</th>
	                <th>Visible</th>
	            </tr>
	
	            <tr th:each="category : ${categories}">
	            	<td><input type="radio" name="selected" th:value="${category.categoryId}"></input></td>
	                <td><a th:text="${category.categoryId}" th:href="@{|/categoryId/${category.categoryId}|}">Category ID</a></td>
	                <td><a th:if="${category.parentCategory!=0}" th:text="${category.parentCategory}" th:href="@{|/categoryId/${category.parentCategory}|}">Parent Category</a></td>
	                <td><a th:text="${category.categoryName}" th:href="@{|/categoryName/${category.categoryName}|}">Category Name</a></td>
	                <td th:text="${category.description}">Description</td>
	                <td th:text="${category.visible}">Visible</td>
	            </tr>
	        </table>
			<button type="submit" name="deleteCategory"
				 th:text="'Delete Category'">Delete Category</button>
			<button type="submit" name="updateCategory"
				th:formaction="@{categories/update}" th:text="'Update Category'">Update Category</button>
		</fieldset>
		</form>
    </div>
    <form name="saveCategoryForm" action="#" th:action="@{/categories}" th:object="${saveCategory}" method="post">
    <fieldset>
    	<legend>Save Category</legend>
    	<input type="hidden" th:field="*{categoryId}"></input>
    	<label th:text="'Parent Category:'">Parent Category</label>
    	<input type="text" th:field="*{parentCategory}"></input>
    	<br/>
    	<label th:text="'Category Name:'">Category Name</label>
    	<input type="text" th:field="*{categoryName}"></input>
    	<br/>
    	<label th:text="'Description:'">Description</label>
    	<input type="text" th:field="*{description}"></input>
    	<br/>
    	<label th:text="'Visible:'">Visible</label>
    	<input type="text" th:field="*{visible}"></input>
    	<br/>
    	<button type="submit" name="saveCategory"
    		th:text="'Save Category'">Save Category</button>
    
    </fieldset>
    
    </form>
</div>

</body>
</html>