<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

	<head>
	<title>Contact</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	</head>

	<body>
	<div class="container">
	 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h1>Contact</h1>
		<ul>
 		 <li>Task Force Tempor 8 Arma 3 Realism Unit ("TFT8", "Joint Task Force Tempor 8") is subject to copyright law.
		</li>
  		 <li>The Task Force Tempor 8 ("TFT8") is not endorsed by or affiliated with any military branch or Bohemia Interactive.
</li>
 		 <li>ArmA III is a registered trademark of Bohemia Interactive a.s., all rights reserved.</li>
		 <li>The TFT8 is not responsible for any media or web content of third parties this website may link to.</li>
		 <li>No Internet Cats were harmed in the making of this website.</li>
		</ul>
		<p>We strive to create the most enjoyable realistic military simulation experience we can achieve within the confines of ArmA III. We have a military 
		structure and rules to go along with it (you may read further in the Rules section). However we do not lose our heads by going "too far" with milsim as we must bear in mind that this is leisure.</p>
		<p>Mods we use include ACE3, ASR AI, RHS: Escalation, Task Force Arrowhead Radio, CBA and other mods including some of our own.</p>
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
		</div>
	</body>
</html>