<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div>
    Araxsys began as a small program based inside Aegis Dynamics called Zeta Project. The program was instituted as the Tevarin conflict began shortly after
    2541. Aegis needed dedicated security, salvagers, and explorers to find materials for the First Tevarin War. As the great war machine came to life, the
    Zeta Project enjoyed record output under the tutelage of Joseph Cellecant, A man born on Planet 342A.03M in the capital of Prime.
</div>
<div>
    <br/>
</div>
<div>
    After Messer&#39;s fall, Zeta Project&#39;s funding was cut by 95% in order to keep Aegis Dynamics from entering bankruptcy. Joseph took his team and formed
    Araxsys Dynamics, a company that would provide the same services to the public that they supplied to Aegis. Araxsys moved out to the outer systems to work
    for Gold Horizon. During this time, Joseph met a young miner. Joseph settled down shortly after meeting his wife and left the corporate world, handing it
    off to his sons and daughters.
</div>
<div>
    <br/>
</div>
<div>
    Araxsys Dynamics faded into obscurity after the Second Tevarin War. The family continued to live lavishly for several generations for their inheritance. It
    wasn&#39;t until 2930, when Andros Cellecant was born, that things began to change.
</div>
<div>
    <br/>
</div>
<div>
    Andros grew up listening to the story of his grandparents and the company they used to run. When Andros reached maturity, he secured the rights to the
    Araxsys Dynamics name from his father.
</div>
<div>
    <br/>
</div>
<div>
    Andros made it his mission to bring the Araxsys Dynamics name to the masses and rebuild the brand that once ruled the outer system market. Together, with
    his childhood friend Kavren, the two gathered a fleet of ships and made its way back into the core systems to prove that the Araxsys name was still worthy
    of its ancestors.
</div>
<div>
    <br/>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>