<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

	<head>
	<title>Home</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	</head>

	<body>
	<div class="container">
	 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h1>Q: What is a milsim realism unit?</h1>
		<p>A: A Milsim Realism unit is a unit that conducts operations in a strictly military manner in accordance to predetermined factors such as rank and 
		position and the nature of out of operation organisation is more than often the same</p>
		
		<h1>How do I join?</h1>
		
		<p>A: To join you may join our teamspeak 3 server which is easily accessible form the website and then you should approach a member asking for a recruiter. Keep in mind you must be at least 16 years of age, own a headset, speak English and have a reasonably mature and intelligent individual, the reason for this is that to portray a military 
		unit to the extent we want to we must have members of quality and good character.</p>
		
		<h1>Q: How do I attain rank and position?</h1>
		
		<p>A: Rank promotions and position reassignments are awarded purely through merit which must be of a significant enough magnitude to be noticed by senior members who will then recommend you to Command Staff who have the authority to issue promotions and reassign
		ments. Remember, with Rank come responsibility.</p>
		<h1>Q: Is membership free?</h1>
		
		<p>A: Yes, membership in TFT8 is and always will be a free service, donations are encouraged but voluntary and anonymous.
</p>
		<h1>Q: Does the TFT8 officially play any other games?</h1>
		
		<p>A: No, Officially we only play ArmA III, certainly members 
		may play other games on the teamspeak however they are not required to.</p>
		
		<h1>Q: Does TFT8 use any Mods?</h1>
		
		<p>A: Yes, we have a personalized combination of mods, including some of our own. It is available on our teamspeak and is provided during recruitment, any tech support or help for the modpack is given free of 
		charge for members so long as the problem is directly linked to the modpack.</p>
		</div>
	</body>
</html>