<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<p dir="ltr">
    Araxsys Dynamics Fleet
</p>
<br/>
<br/>
<p dir="ltr">
    Constellation Andromeda Cellecant (Flagship)
</p>
<p dir="ltr">
    Starfarer Cellecant (Fuel Tanker/Salvage)
</p>
<p dir="ltr">
    Aurora LN Cellecant (Fighter)
</p>
<p dir="ltr">
    P-52 Merlin Cellecant (Snub Fighter)
</p>
<br/>
<p dir="ltr">
    Avenger Vuka (Interceptor)
</p>
<p dir="ltr">
    Redeemer Vuka (Gunship/Combat Transport)
</p>
<br/>
<p dir="ltr">
    Sabre Vorv (Fighter)
</p>
<p dir="ltr">
    P-52 Merlin Vorv (Snub-Fighter)
</p>
<br/>
<p dir="ltr">
    Origin 350-R Kavren (Racer)
</p>
<p dir="ltr">
    Gladius Kavren (Fighter)
</p>
<p dir="ltr">
    Herald Kavren (Information Runner/Ewar)
</p>
<p dir="ltr">
    Endeavor Kavren (Science Bitch)
</p>
<br/>
<p dir="ltr">
    Aurora LN &#34;Raider&#34; Collins (Fighter)
</p>
<br/>
<p dir="ltr">
    Mustang Alpha Franklin (Fighter)
</p>
<br/>
<p dir="ltr">
    Cutlass Red Rayne (Medical Support)
</p>
<p dir="ltr">
    Base Tali Rayne (Troop transport/Medical)
</p>
<br/>
<p>
    Mustang Beta Red Rooster (Fighter/Explorer)
</p>
</body>
</html>