<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
<head lang="en">
    <title>Capstone Index</title> 
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
  <img class="homeImg" src="/images/ADHome.JPG"
    	 			th:src="@{/images/ADHome.JPG}" />
       <h1>Home</h1>
		<p> Our milsim unit is a task force made up of various US 
		military assets collected in coordination with USSOCOM, the CIA and other US government agencies. The goal of the Task Force is to advance the war on terrorism in three fronts:</p>
		<ul>
 		 <li>Regime change of terrorist friendly states.
		</li>
  		 <li>Unconventional warfare against known terrorist groups worldwide.</li>
 		 <li>Disruption of operations and finance systems terrorist groups have developed to forward their agenda.</li>
		</ul>
		<p>We strive to create the most enjoyable realistic military simulation experience we can achieve within the confines of ArmA III. We have a military 
		structure and rules to go along with it (you may read further in the Rules section). However we do not lose our heads by going "too far" with milsim as we must bear in mind that this is leisure.</p>
		<p>Mods we use include ACE3, ASR AI, RHS: Escalation, Task Force Arrowhead Radio, CBA and other mods including some of our own.</p>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
 
</body>
</html>