<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Locked Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
<body>
<div th:replace="fragments/header :: header">...</div> <!--div to add header  -->
<div class="container">

        <h1>Hello</h1>

        <h2>This page is hidden behind user authentication</h2>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
  This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  This content is only shown to users.
</div>

</body>
</html>