<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title></title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	<script type="text/javascript" src="/js/Raptor/raptor.min.js"></script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="editable" th:data-id="${page.id}">
			<div th:utext="${page.getContent()}"></div>
		</div>
	</div>
	
	
	
	
	
	
	
	<script th:inline="javascript">
	var path = [[@{|/page/${page.category.getCategoryName()}/${page.pageName}|}]];
	console.log(path);
    jQuery(function($) {
        $('.editable').raptor({
        	plugins: {
                // The save UI plugin/button
                save: {
                    // Specifies the UI to call the saveRest plugin to do the actual saving
                    plugin: 'saveRest'
                },
                saveRest: {
                    // The URI to send the content to
                    url: path,
                    
                    type: 'post',
                    // Returns an object containing the data to send to the server
                    data: function(html) {
                        return {
                            content: html
                        };
                    }
                
                }
            }
        	
        	
        });
        
        
    });
    /*
    Note: if using a Raptor no conflict build jQuery will be renamed to "raptor"
    So you would initialise Raptor like:
        raptor(function($) {
            $('.raptor-editable').raptor();
        });
    */
</script>
</body>
</html>