<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pages</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<div class="container">
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(pages)}">
        <h2>Pages</h2>
        <form action="#" th:action="@{/admin/pages}" method="post">
        <fieldset>
        	<legend>Page List</legend>
	        <table class="table table-striped">
	            <tr>
	            	<th></th>
	                <th>Page Name</th>
	                <th>Category</th>
	                <th>Visible</th>
	            </tr>
	
	            <tr th:each="page : ${pages}">
	            	<td><input type="radio" name="selected" th:value="${page.pageId}"></input></td>
	                <td><a th:if="${page.category != null}" th:text="${page.pageName}" th:href="@{|/page/${page.category.getCategoryName()}/${page.pageName}|}">Page Name</a></td>
	                <td><a th:if="${page.category != null}" th:text="${page.category.getCategoryName()}" th:href="@{|/category/${page.category.getCategoryName()}|}">Category</a></td>
	                <td th:text="${page.visible}">Visible</td>
	            </tr>
	        </table>
	        <button class="btn btn-default" type="submit" name="updatePage" th:formmethod="get"
					th:formaction="@{/admin/pages/update}" th:text="'Update Page'">Update Page</button>
			<button class="btn btn-default" type="submit" name="deletePage"
				 	th:text="'Delete Page'">Delete Page</button>
		</fieldset>
		</form>
		<br/>
    </div>
    <form class="form-horizontal" action="#" th:action="@{/admin/pages}" th:object="${savePage}" method="post">
    <fieldset>
    	<legend th:text="${fieldSetText}"></legend>
    	<input type="hidden" th:field="*{pageId}"></input>
    	<div class="form-group">
	    	<label class="col-sm-2 control-label" th:text="'Page Name: '">Page Name</label>
	    	<div class="col-sm-10">
	    		<input class="form-control" type="text" th:field="*{pageName}"></input>
	    	</div>
    	</div>
    	<br/>
    	<div class="form-group">
	    	<label class="col-sm-2 control-label" th:text="'Category: '">Category</label>
	    	<div class="col-sm-10">
		    	<select class="form-control" th:field="*{category}">
		    		<option th:value="null"
		    				th:text="'No Category'">Wireframe</option>
		    				
		  			<option th:each="category : ${categories}" 
		          			th:value="${category.categoryId}" 
		          			th:text="${category.categoryName}">Wireframe</option>
				</select>
			</div>
		</div>
    	<br/>
    	<div class="form-group">
	    	<label class="col-sm-2 control-label" th:text="'Visible: '">Visible</label>
	    	<div class="col-sm-10">
	    		<input class="form-control" type="checkbox" th:field="*{visible}" th:value="'true'"></input>
	    	</div>
    	</div>
    	<br/>
    	<div class="form-group">
	    	<label class="col-sm-2 control-label" th:text="'Content: '">Content</label>
	    	<div class="col-sm-10">
	    		<textarea class="form-control" rows="6" cols="50"  th:field="*{content}"></textarea>
	    	</div>
    	</div>
    	<br/>
    	<button class="btn btn-default" type="submit" name="savePage"
    		th:text="'Save Page'">Save Page</button>
    
    </fieldset>
    
    </form>
</div>

</body>
</html>