<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

	<head>
	<title>Recruitment</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	</head>

	<body>
	<div class="container">
	 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h1>Recruitment</h1>
		<ul>
 		 	<li>Over the age of 16 years old and have respect and maturity.
			</li>
  		 	<li>Fluent in English and have a working headset with push to talk.</li>
 		 	<li>Not a member of another ARMA 3 unit.</li>
		 	<li>Able to devote 5 hours a week of in game playtime to our unit.</li>
		 	<li>Must run latest version of TS3</li>
			 <li>You have a willingness to listen, follow, learn and lead as part of a team</li>
		</ul>
		<p>Remember, we are looking for mature and disciplined players. Kill/death numbers and fancy moves do not count. We are interested in teamwork and dedication 
		from those willing to prove themselves and become a teammate - the door is always open.</p>
		</div>
	</body>
</html>