<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

	<head>
	<title>Rules</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	</head>

	<body>
	<div class="container">
	 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h1>TFT8 Server Rules</h1>
		<ul>
  <li>To Pilot any air vehicles, the player must be on our TS3 and in the Arma III Public Server Channels.</li>
  <li>Be respectful of each other, no racist language, insults or arguing.
Sound, spam, and demo trolls will be dealt with.</li>
  <li>Asking someone to join another server or giving out info for other servers strictly forbidden.</li>
  <li>Recruiting for another gaming community, ARMA related or not, will result in immediate banning.</li>
  <li>Use of any hacks, Admin tools, duping mods or game exploits is forbidden.</li>
  <li>No teamkilling in Co-Op game modes.</li>
</ul>
		<h1>TFT8 Unit Rules</h1>
		<p>In order to ensure a well-organized, functioning gaming community and MilSim unit, the TFT8 relies on a number of rules and guidelines for daily business in the unit. They are to be followed by every member, regardless of their position and rank. 
		The most fundamental principles and rules are found in the Unit Rules and Regulations.</p>
		
		<h1>Section 1.1- "Unit Goals and Principles"</h1>
		<ol type="1">
  <li>Task Force Tempor 8 is a gaming community for mature players who enjoy a well-organized Military Simulation 
  Experience in the Arma Franchise. It is inspired by actual companies of US Army.</li>
  <li>The units main goals and principles include the following:
We seek fun and entertainment in gaming.
We expect mature behaviour, respect and fair play.
We are dedicated to the best possible Milsim experience.
We need participation and responsibility from every unit member.
We strive for steady improvement of our own abilities and the entire unit.</li>
</ol>
	<h1>Section 1.3 - "Member Rights and Duties"</h1>
	<ol type="1">
  <li>For purposes of the community, all members are considered equal in their rights and duties 
  to the unit. Any unit position or military rank a member may hold poses an addition to those.</li>
  <li>All members have the right to
… enjoy their time and have fun in this community.
… be respected and treated fair by other members.
… spend time in this unit at their own discretion and in the limits of their leisure.
… voice their opinion and input on matters of the unit.
… leave this unit if they no longer want to be part of it.</li>
  <li>It is every members duty to
… show dedication to the unit and its goals.
… follow any legal order given by their superiors.
… adhere to the units rules and regulations.
… use their abilities to collaborate and take up responsibilities.
… uphold the units reputation and appearance.
… use and follow the chain of command both up and downwards.</li>
</ol>
	</div>	
	</body>
</html>