<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p dir="ltr">
    <center><h1>WIP<h1/><center/>
</p>
<p dir="ltr">
    What are company stocks?
</p>
<br/>
<p dir="ltr">
    Stocks are a currency within the company that are created by the net value of company&#39;:s holdings and assets. Stocks are used for the exchange of resources,
    goods, and earning promotions. Stocks can be traded in between members for a small fee.
</p>
<br/>
<p dir="ltr">
    How do I obtain stock?
</p>
<br/>
<p dir="ltr">
    Stocks can be obtained in many different ways. All employees will receive xx amount of stock per week if they uphold the values and directives of the
    company and perform their job duties. Consider stock a sort of weekly wage. Stocks will be distributed into each employee's account on Sundays. It is up to
    the employee to inform HR of activities that generated stock. Stock can also be obtained by recruiting new employees, organizing guild events, donating
    items or
</p>
<p dir="ltr">
    credits to the company, and traded among members (2:1 ratio).
</p>
<br/>
<p dir="ltr">
    Donating items to the company.
</p>
<br/>
<p dir="ltr">
    Donating items to the company will make the company stronger and provide a more cohesive work and play environment. The Chief Accountant will analyze the
    worth of the items offered and evaluate if the company is in need of the items. A stock option will be offered to the employee for this transaction. The
    employee may only receive x amount of stocks per week for donations.
</p>
<br/>
<br/>
<p dir="ltr">
    How can I lose stock?
</p>
<br/>
<p dir="ltr">
    Stock can be lost for disciplinary reasons, trading to other employees, spending stock on promotions, or exchanging stocks for resources, items, or
    credits.
</p>
<br/>
<p dir="ltr">
    What is a &#34; Promotion Advancement Mission@#34:?
</p>
<br/>
<p dir="ltr">
    A PAM is a duty or task needed to advance to the next rank in a division of the company. PAMs are a way for employees in our company to feel like they have
    earned their position.
</p>
<br/>
<p dir="ltr">
    A PAM for a Scrap moving to a Pilot position may include a special mission to protect our fleet while we enter a system. A PAM may also include performing
    a NPC given mission.
</p>
<p dir="ltr">
    PAMs will change and vary depending on division. Another example for a Logistics operator moving to a Logistics Manager would be obtaining 10k units of
    high quality metal to turn into the company&#39;s warehouse, successfully running a mining mission, and adding map data for the company to use in their own
    expeditions.
</p>
<br/>
<p dir="ltr">
    Stock values for different activities
</p>
<br/>
<br/>
<p dir="ltr">
    Complete recruitment from Intern to Full Employee xx
</p>
<p dir="ltr">
    Organized company event xx
</p>
<p dir="ltr">
    Turned in xx amount of resources into the company warehouse xx
</p>
<br/>

</body>
</html>