<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

	<head>
	<title>Home</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	</head>

	<body>
	<div class="container">
	 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h1><strong>Unit Details</strong></h1>
		<p>In order to make ArmA III an even more authentic military simulation experience we shape our organization and conduct after real-life examples. This includes everything from the chain of command down to assigned equipment and radio communication. A clear unit structure. discipline and respect towards the rank are not and end to themselves but necessary both to create the desired realistic environment and to run this realism unit more effectively. Nevertheless, fun in
		gaming remains the priority for all our efforts. And we're having a lot of it. </p>
		<h1><strong>Our Goals</strong></h1>
		<p>In order to make ArmA III an even more 
		authentic military simulation experience we shape our organization and conduct after real-life examples. This includes everything from the chain of command down to assigned equipment and radio communication. A clear unit structure. discipline and respect towards the rank are not and end to themselves but necessary both to create the desired realistic environment and to run this realism unit more effectively. Nevertheless, fun in gaming remains the priority for all our efforts. And we're having a lot of it.</p>
		<ul>
		</ul>
		<h1><strong>Organization</strong></h1>
		<p>Just like real military units, the TFT8 has Officers and NCOs in various positions and with different responsibilities. Roles and tasks within the unit are assigned based on experience, qualification and commitment. Unit meetings on a regular basis ensure every member gets a chance to discuss recent events and to share his or her feedback and ideas. Good contributions to unit development are being rewarded. 
		Within the TFT8, several sections exist, each with their own designation.</p>
		<h1><strong>Detachments of the Task Force</strong></h1>
		<p>160th SOAR Detachment, Callsign "Razor" - Flight Operations	1st Platoon, B Co., 2/75th Rangers; Callsign "Spartan" - Light Infantry
		As a Special Operations Air Regiment detachment, "Razor" missions include insertion, 
		resupply, and extraction of Infantry, conducting electronic and visual reconnaissance 
		in support of special operations, performing casualty evacuation, providing close air support as well as a direct action rotary-wing presence.	Rangers, initially were trained to conduct raids, ambushes, and airfield seizures; are now conducting combat operations at a higher level of sophistication. Focused on small unit tactics, the Rangers also moved into operational realms that were once the sole purview of Tier One Special Operations units.</p>
		<h1><strong>Training Procedures</strong></h1>
		<p>Training in the TFT8 is divided into four(4) mandatory stages every member has to complete in order to move on. As you progress through this procedure you will move up in rank upon completion of each step, you will be a PVT by the time you are finished. Experienced cadre members teach all 
			necessary skills from the basics of shooting to the fine details of Special Operations.</p>
		<h1><strong>Career Opportunities</strong></h1>
		<p>Every facet of unit operation in TFT8 is dependant on volunteers. From research and design to teaching and including roles like the Executive Officer, the Operations Sergeant or the Junior Intelligence Sergeant. If recruits are found to be qualified for one of these roles, they receive additional training and specialized equipment. Members who show talent for leadership and administration tasks may be picked for leading roles in the detachments or for the company command staff.
		</p>
		<h1><strong>Mods and Features</strong></h1>
		<p>Mods used by the TFT8 include ACE3 for improvements in interaction, medical system and framework, assets for US and Russian forces from RHS: Escalation, cTAB for command and control, Task Force Radio for authentic voice and radio communications, and ASR AI 3 for custom co-op experiences. . These help to create more authentic gameplay and are mandatory for any action on our private server. Our public server however does not require installed mods, it is set up so that they will be accepted and 
		Task Force Radio will work for all those who have it enabled between one and another.</p>
		</div>
	</body>
	</html>
